<header class="site-header" data-section="header" data-purpose="navigation">
  <div class="container nav-row">
    <a class="brand-mark" href="/" aria-label="One Medical">
      <svg width="120" height="24" viewBox="0 0 120 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <text x="0" y="18" font-family="GT Super Display, Times New Roman, serif" font-size="20" font-weight="600" fill="#005450">One Medical</text>
      </svg>
    </a>
    <ul class="nav-list" role="menubar">
      <li><button>Locations</button></li>
      <li><button>For You</button></li>
      <li><button>For Business</button></li>
    </ul>
    <div class="nav-cta">
      <a class="login" href="https://app.onemedical.com">Log in</a>
      <a class="btn btn-primary pill" href="https://app.onemedical.com/registration/signup">Sign up</a>
    </div>
  </div>
</header>
