<footer class="ds-footer" data-section="footer">
  <div class="ds-container">
    <div class="ds-footer__grid">
      <div class="ds-footer__col">
        <h5>Renters</h5>
        <a href="#">Renters Insurance</a>
        <a href="#">What is renters insurance</a>
        <a href="#">Coverage</a>
      </div>
      <div class="ds-footer__col">
        <h5>Homeowners</h5>
        <a href="#">Homeowners Insurance</a>
        <a href="#">What is homeowners insurance</a>
        <a href="#">Condo Insurance</a>
      </div>
      <div class="ds-footer__col">
        <h5>Car</h5>
        <a href="#">Car Insurance</a>
        <a href="#">Coverage</a>
        <a href="#">Roadside Assistance</a>
      </div>
      <div class="ds-footer__col">
        <h5>Pet</h5>
        <a href="#">Pet Health Insurance</a>
        <a href="#">Wellness</a>
        <a href="#">Vet Visits</a>
      </div>
      <div class="ds-footer__col">
        <h5>Life</h5>
        <a href="#">Term Life Insurance</a>
        <a href="#">Coverage</a>
        <a href="#">FAQs</a>
      </div>
    </div>
    <div class="ds-footer__bottom">
      <div class="ds-footer__wordmark" aria-hidden="true">Lemonade</div>
      <div>&copy; Lemonade Inc. &mdash; A Public Benefit Corporation &amp; certified B Corp. NYSE: LMND.</div>
    </div>
  </div>
</footer>
